<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/info.css">
    <script src="https://kit.fontawesome.com/2c91db2581.js" crossorigin="anonymous"></script>
    <title>Editar Usuario</title>
</head>
<body>
    <div class="formulario">
            <h1>MODIFICAR</h1>
            <form action="/users/update/<%= usuario.id %>?_method=PUT" method="POST">
            <div class="campos" id="usuario"><label>Usuario: </label><input value="<%= usuario.usuario%>" name="usuario" type="text"></div>
            <div class="campos" id="nombre"><label>Apellido y Nombres: </label><input value="<%= usuario.apellidoNombres%>" name="nombre" type="text"></div>
            <div class="campos" id="institucion"><label>Institución: </label> <select name="institucion" id="institucion">
                                             <option value="<%= parroquia.id%>" selected><%= parroquia.id %> <%= parroquia.descripcion%></option>
                                              <% for(let i = 0; i < listaParroquias.length; i++) { %>
                                                     <option value="<%= listaParroquias[i].id %>"><%= listaParroquias[i].id %> <%= listaParroquias[i].descripcion %></option>
                                              <% } %></select></div>
             <div class="campos" id="domicilio"><label>Domicilio: </label><input value="<%= usuario.domicilio%>" name="domicilio" type="text"></div>
             <div class="campos" id="telefono"><label>Teléfono: </label><input value="<%= usuario.telefono%>" name="telefono" type="number"></div>
             <div class="campos" id="email"><lanobel>Email: </label><input value="<%= usuario.email%>" name="email" type="email"></div>
        <div class="botones">
        
        <button class="editar" type="submit"><i class="fa-solid fa-pen-to-square"></i> Editar</button>
        </form>
        <form action="/users/delete/<%= usuario.id %>/?_method=DELETE %>" method="POST">
            <button class="eliminar" type="submit"><i class="fa-solid fa-trash"></i> Elminar</button>
        </form>
        </div>
    </div>
</body>
</html>